{% extends "base.html" %}
{% block content %}
<div id="former">
<h1>Add a New Task</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="background-color: lightblue; color: black; padding: 10px; border-radius: 5px; border: none;">
        Add Task</button>
    <a href="{% url 'index1' %}" style="text-decoration: none;">
    <button type="button" style="background-color: lightblue; color: black; padding: 10px; border-radius: 5px; border: none;">
        Go To Task
    </button>
</a>
</form></div>
{% endblock %}
