{% extends "base.html" %}
{% block content %}
<div class="task1">
    <h1>This is the List of Tasks</h1>
   
    {% if tasks %}
        <div class="task2">
            {% for task in tasks %}
                <div class="task3">
                    <h2>Title: {{ task.title }}</h2>
                    <p>Description: {{ task.description }}</p>
                    <p>Perity: {{ task.perity }}</p>
                    <p>Created at: {{ task.created_at }}</p>
                    <p>Updated at: {{ task.updated_at }}</p>
                    <p>Status: {{ task.status }}</p>
                    <p>Task ID: {{ task.id }}</p>
                    <p>Assigned to: {{ task.user }}</p>

                    <button onclick="location.href='{% url 'change_status' id=task.id %}'" id="add-button">Change Status</button>
                    <button onclick="confirmBeforeDelete('{% url 'delete_task' id=task.id %}')" id="del-button">Delete Task</button>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No tasks available.</p>
    {% endif %}
</div>
</div>
<script>
    function confirmBeforeDelete(url){
        var r = confirm("Are you sure you want to delete this post?")
        if(r){
            window.location.href = url
        }
    }

</script>
{% endblock %}